@page
@model todo_app.Controllers.AddTodoModel

@{
    ViewData["Title"] = "AddTodo";
}

<h1>Add Todo</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="TodoList.Content" class="control-label mb-2"></label>
            
                <input asp-for="TodoList.Content" class="form-control" />
                
                <span asp-validation-for="TodoList.Content" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
