@page
@model todo_app.Controllers.IndexModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;

@{
    ViewData["Title"] = "Index";
}

@if (SignInManager.IsSignedIn(User)) {
    <h1>My todos</h1>
} else {
    <h1>Login to see your todos!</h1>
}

@if (SignInManager.IsSignedIn(User)) {
    <p>
        <a asp-page="AddTodo">Create New Todo</a>
    </p>

    @if (Model.TodoList.Count > 0) {
        <table class="table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TodoList) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserEmail)
                        </td>
                        <td>
                            <a asp-page="/EditTodo" asp-route-id="@item.Id">Edit</a> |

                            <a asp-page="/DeleteTodo" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}